    body {
    font-family: Georgia, "Helvetica",
          Times, serif;
    color: purple;
    background-color: #F0F0F0 }

    ul.egmenu {  
    background: #333; 
    height: 30px;
    width: 100%; 
}

ul.egmenu > li { 
    float: left; 
    position: relative;  
}

ul.egmenu ul {
    background: #444; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

ul.egmenu a { 
    cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px; 
    padding: 0 10px; 
}

ul.egmenu li { list-style: none; }

ul.egmenu li:hover { background: #555;  }
ul.egmenu li:hover ul { display: block;  }

  h1 {
  color: #402424;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif; 
        }

    footer {
      font-family: Helvetica, Geneva, Arial;
      background-color: #444;
      text-align:center;
      color:#FFF;
    }