    body {
    font-family: Georgia, "Helvetica",
          Times, serif;
    color: purple;
    background-color: #000 }

  h1 {
  color: #666666;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>